[supervisord]
logfile={{ log_dir }}/supervisor.log
nodaemon=true
Environment=PYTHONPATH={{ openslides_settings_path }}
Environment=DJANGO_SETTINGS_MODULE=settings
user=openslides

[program:openslides]
command={{ daphne_bin }} openslides.asgi:channel_layer -p {{ openslides_port }}
stdout_logfile={{ log_dir }}/openslides.out
stderr_logfile={{ log_dir }}/openslides.err
directory={{ openslides_dir }}

{% for i in range(openslides_worker_count) %}
[program:openslides_worker_{{ i }}]
command={{ openslides_bin }} runworker
stdout_logfile={{ log_dir }}/openslides_worker_{{ i }}.out
stderr_logfile={{ log_dir }}/openslides_worker_{{ i }}.err
{% endfor %}
