worker_processes 20;

events {
  worker_connections  1024;
}

http {
  include mime.types;
  default_type application/octet-stream;
  sendfile on;
  keepalive_timeout 65;
  server {
    listen 0.0.0.0:80;
    listen [::]:80;

  }

  include /srv/nginx/instances.d/*.conf;
}
